/* Modus Versus Slicing
 *
 * /sass/objects/_main.scss - Non-cosmetic styles for main
 *
 * coded by Gabriel
 * started at 06/03/2016
 */

 .section-services__focus {
     background-color: #ececec;
     line-height: 1.5;
     margin: 0 auto;
     padding: 20px;
     position: relative;
     width: 1150px;
 }

 .section-services__heading {
    display: inline-block;
    font-size: 3rem;
}

 .section-services__content {
    display: inline-block;
    font-size: 1.3rem;
}

 .section-services__callout {
     background: $focusColor;
     box-shadow: 0 .3rem 0 $darkFocusColor;
     border-radius: 5px;
     color: white;
     display: inline-block;
     font-size: 2rem;
     height: 52px;
     line-height: 2.5;
     position: absolute;
     right: 35px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     top: 24px;
     width: 200px;
 }

 //liste

 .section-services__list {
    margin: 50px auto 0;
    width: 1150px;
}

.section-services__elt {
    background-color: white;
    box-shadow: 0 .3rem 0 #e5e6e6;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.section-services__elt:nth-child(n+2) {
    margin-left: 20px;
}

.section-services__link {
    color: #7f8c8c;
    display: inline-block;
    height: 310px;
    padding: 54px 10px 0;
    position: relative;
    text-decoration: none;
    width: 270px;
}

.section-services__icons::before  {
    color: $lightMainColor;
    display: block;
    font: 6rem "Glyphs";
    margin-bottom: 0.8rem;
}
//controler que le icon change au survole
.section-services__link:hover .section-services__icons:before {
    color: $focusColor;
}

.section-services__link:hover .section-services__fake-button{
    background-color: $focusColor;
    box-shadow: 0 .3rem 0 $darkFocusColor;
}


.section-services__icon-thumb::before {
    content: "";
}

.section-services__icon-key::before {
    content: "";
}

.section-services__icon-flag::before {
    content: "";
}

.section-services__icon-flask::before {
    content: "";
}


.section-services__headingh3 {
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.section-services__description {
    color: #7f8c8c;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 3.1rem;
}

.section-services__fake-button {
    background: $lightMainColor;
    box-shadow: 0 .3rem 0 $darkMainColor;
    border-radius: 5px;
    bottom: -26px;
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    height: 52px;
    line-height: 3.5;
    position: absolute;
    right: 35px;
    width: 200px;
}
